:root {
    /* yellow */
    --c-yellow-50: #fff8da;
    --c-yellow-100: #ffebad;
    --c-yellow-200: #ffde7d;
    --c-yellow-300: #ffd14b;
    --c-yellow-400: #ffc41a;
    --c-yellow-500: #e6aa00;
    /* cyan dark */
    --c-cyan-dark-50: #6c94ad;
    --c-cyan-dark-100: #547a94;
    --c-cyan-dark-200: #405f73;
    --c-cyan-dark-300: #2c4453;
    --c-cyan-dark-400: #182934;
    --c-cyan-dark-500: #000f17;
    /* green */
    --c-green-50: #e2fde7;
    --c-green-100: #bdf2c5;
    --c-green-200: #96e7a1;
    --c-green-300: #6ddd7d;
    --c-green-400: #45d459;
    --c-green-500: #2dc242;
    /* red */
    --c-red-50: #ffe2e6;
    --c-red-100: #ffb1ba;
    --c-red-200: #ff7f8d;
    --c-red-300: #ff4d60;
    --c-red-400: #fe1d33;
    --c-red-500: #e5051a;
    /*blue*/
    --c-blue-50: #e1edff;
    --c-blue-100: #b0caff;
    --c-blue-200: #7ea6ff;
    --c-blue-300: #4b82ff;
    --c-blue-400: #1a5ffe;
    --c-blue-500: #0145e5;

    /*blue-dark*/
    --c-blue-dark-50: #e5ebff;
    --c-blue-dark-100: #b8c2fa;
    --c-blue-dark-200: #1b2fd1;
    --c-blue-dark-300: #1425a3;
    --c-blue-dark-400: #0d1974;
    --c-blue-dark-500: #050f47;
    /*purple*/
    --c-purple--50: #ede5ff;
    --c-purple--100: #c7b2ff;
    --c-purple--200: #a281ff;
    --c-purple--300: #7c4efd;
    --c-purple--400: #571dfc;
    --c-purple--500: #3f03e2;
    /*gray*/
    --c-gray-50: #eeeeee;
    --c-gray-100: #d0d9e3;
    --c-gray-200: #b5bfca;
    --c-gray-300: #98a6b3;
    --c-gray-400: #7c8c9d;
    --c-gray-500: #5f6873;
    --c-gray-600: #5f6873;
    /*black*/
    --c-black-50: #8c8c8c;
    --c-black-100: #737373;
    --c-black-200: #595959;
    --c-black-300: #404040;
    --c-black-400: #262626;
    --c-black-500: #120b0d;
    /*orange*/
    --c-orange-50: #ffeedc;
    --c-orange-100: #ffd2af;
    --c-orange-200: #ffb67f;
    --c-orange-300: #ff994d;
    --c-orange-400: #fe7c1c;
    --c-orange-500: #e56203;

    /*other*/
    --c-white-500: #ffffff;
    --c-white-400: #f9fafb;

    /* fonts */
    --f-primary: 'Poppins', sans-serif;
    --f-secondary: 'Poppins', sans-serif;
    /* border-radius */
    --br-small: 5px;
    --br-semi-small: 10px;
    --br-medium: 15px;
    --br-large: 30px;
    --br-circle: 100%;
    /* shadows */
    --bs-primary: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* transitions */
    --trans-primary: all 0.2s ease;
}
